[Unit]
Description=Start XLT process
After=network-online.target cloud-init.service
Wants=network-online.target

[Service]
Type=forking
ExecStart=/etc/init.d/xlt start
TimeoutSec=0
LimitNOFILE=128000
LimitNPROC=16000
TasksMax=16000

[Install]
WantedBy=multi-user.target
